.container {
  margin-left: 5%;
}

.title {
  font-size: 2rem;
  color: var(--blue-dark);
}

.subtitle {
  font-size: 1.3rem;

  color: var(--blue-dark);
}

.catalog_films {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: var(--white);
  padding: 20px 10px;
  border-bottom: 2px solid var(--green);
  border-right: 2px solid var(--green);
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
  place-content: center;
  align-items: center;
}

.catalog_films > img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 2px black;
}
